<div class="my-component">
<div class="container pt-5">
  
<div class="card">
  <img class="rounded-circle mx-auto d-block pt-3" src="assets/goodfood-market--600.png">
          <div class="card-body pt-3">
            <div class="row">
              <div class="col-lg-8">
                <div class="card">
                  <div class="card-body">
                    <div class="row pb-3">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Prénom</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <input type="text" class="form-control" value="Romain">
                      </div>
                    </div>
                    <div class="row pb-3">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Nom</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <input type="text" class="form-control" value="Girard">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <input type="text" class="form-control" value="Leroms@gmail.com">
                      </div>
                    </div>
                    <div class="row pb-3">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Numéro interne</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <input type="text" class="form-control" value="5">
                      </div>
                    </div>
        
                    <div class="row">
                      <div class="col-sm-3"></div>
                      <div class="col-sm-9 text-secondary">
                        <input type="button" class="btn btn-primary px-4" value="Modifier">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="row pb-3">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Nouveau mot de passe</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            <input type="text" class="form-control"  value="">
                          </div>
                        </div>
                        <div class="row pb-3">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Confirmation du mot de passe</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            <input type="text" class="form-control" value="">
                          </div>
        
                        </div>
                        <div class="row">
                          <div class="col-sm-3"></div>
                          <div class="col-sm-9 text-secondary">
                            <input type="button" class="btn btn-primary px-4" value="Changer de mot de passe">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body">
        
                        <div class="row mb-3">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Status</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            <input type="text" class="form-control" value="Administrateur">
                          </div>
        
                        </div>
                        <div class="row">
                          <div class="col-sm-3"></div>
                          <div class="col-sm-9 text-secondary">
                            <input type="button" class="btn btn-primary px-4" value="Changer de status">
                          </div>
                        </div>
        
                      </div>
                    </div>
                  </div>
            </div>
    </div>
</div>
</div>
</div>