<div class="my-component">
  <div class="container pt-5">
    <div class="row">   
    <div class="card">
      <h4 class="card-header text-center">Inscription</h4>
      <div class="card-body">
        <div class="register-form">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="col-sm">
            <div class="form-group">
              <label>Nom de famille</label>
              <input type="text" formControlName="lastname" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors }" />
              <div *ngIf="submitted && f['lastname'].errors" class="invalid-feedback">
                <div *ngIf="f['lastname'].errors['required']">Nom requis</div>
              </div>
            </div>
            <div class="form-group pt-3">
              <label>Prénom</label>
              <input type="text" formControlName="firstname" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }" />
              <div *ngIf="submitted && f['firstname'].errors" class="invalid-feedback">
                <div *ngIf="f['firstname'].errors['required']">Prénom requis</div>
                <div *ngIf="f['firstname'].errors['minlength']">
                  Username must be at least 6 characters
                </div>
                <div *ngIf="f['firstname'].errors['maxlength']">
                  Username must not exceed 20 characters
                </div>
              </div>
            </div>
            <div class="form-group pt-3">
              <label>Email</label>
              <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email requis</div>
                <div *ngIf="f['email'].errors['email']">Email is invalid</div>
              </div>
            </div>
            <div class="form-group pt-3">
              <label>Ville</label>
              <input type="city" formControlName="city" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['city'].errors }" />
              <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                <div *ngIf="f['city'].errors['required']">Nom de la ville requis</div>
                <div *ngIf="f['city'].errors['minlength']">
                  Password must be at least 6 characters
                </div>
                <div *ngIf="f['city'].errors['maxlength']">
                  Username must not exceed 40 characters
                </div>
              </div>
            </div>
            <div class="form-group pt-3">
              <label>Code postal</label>
              <input type="number" formControlName="postalCode" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['postalCode'].errors }" />
              <div *ngIf="submitted && f['postalCode'].errors" class="invalid-feedback">
                <div *ngIf="f['postalCode'].errors['required']">
                  Code postal requis
                </div>
              </div>
            </div>
          </div>
  <div class="col-sm  pt-3">
            <div class="form-group">
              <label>Adresse</label>
              <input type="text" formControlName="addressline1" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['addressline1'].errors }" />
              <div *ngIf="submitted && f['addressline1'].errors" class="invalid-feedback">
                <div *ngIf="f['addressline1'].errors['required']">Adresse requise</div>
              </div>
            </div>
            <div class="form-group pt-3">
              <label>Numéro de téléphone</label>
              <input type="number" formControlName="phone" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }" />
              <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                <div *ngIf="f['phone'].errors['required']">Numéro de téléphone requis requis</div>
                <div *ngIf="f['phone'].errors['minlength']">
                  Username must be at least 6 characters
                </div>
                <div *ngIf="f['phone'].errors['maxlength']">
                  Username must not exceed 20 characters
                </div>
              </div>
            </div>
            <div class="form-group pt-3">
              <label>Identifiant</label>
              <input type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
              <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                <div *ngIf="f['username'].errors['required']">Identifiant requis</div>
                <div *ngIf="f['username'].errors['username']">Identifiant invalide</div>
              </div>
            </div>
            <div class="form-group pt-3">
              <label>Password</label>
              <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password is required</div>
                <div *ngIf="f['password'].errors['minlength']">
                  Password must be at least 6 characters
                </div>
                <div *ngIf="f['password'].errors['maxlength']">
                  Username must not exceed 40 characters
                </div>
              </div>
            </div>
            <div class="form-group pt-3">
              <label>Confirm Password</label>
              <input type="password" formControlName="confirmPassword" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
              <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                <div *ngIf="f['confirmPassword'].errors['required']">
                  Confirm Password is required
                </div>
                <div *ngIf="f['confirmPassword'].errors['matching']">
                  Confirm Password does not match
                </div>
              </div>
            </div>
            <div class="form-group form-check pt-3">
              <input type="checkbox" formControlName="acceptTerms" class="form-check-input"
                [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }" />
              <label for="acceptTerms" class="form-check-label">I have read and agree to the Terms</label>
              <div *ngIf="submitted && f['acceptTerms'].errors" class="invalid-feedback">
                Accept Terms is required
              </div>
            </div>
            <div class="form-group pt-3">
              <button type="submit" class="btn btn-primary">Register</button>
              <button type="button" (click)="onReset()" class="btn btn-warning float-right">
                Reset
              </button>
            </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>
</div>
</div>