<body>
    <div class="my-component">
<div class="container pt-5">
  <h1 class="title-top text-center">La carte !</h1>
    <div class="row pt-3">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/art_burg.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Hambuger</h5>
              <p class="card-text">Un hamburger avec fromagee et bacon.</p>
              <a href="#" class="btn btn-warning" routerLink="article-component">Voir</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/art_burg.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Hambuger</h5>
              <p class="card-text">Un hamburger avec fromagee et bacon.</p>
              <a href="#" class="btn btn-warning">Voir</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/art_burg.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Hambuger</h5>
              <p class="card-text">Un hamburger avec fromagee et bacon.</p>
              <a href="#" class="btn btn-warning">Voir</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/art_burg.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Hambuger</h5>
              <p class="card-text">Un hamburger avec fromagee et bacon.</p>
              <a href="#" class="btn btn-warning">Voir</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</body>
