<div class="my-component">
  <ng-container *ngIf="commands.length !=0">
    <div class="container pt-3">
      <h1 class="title-top text-center pb-2">Vos commandes</h1>
      <div class="pt-3" *ngFor="let command of commands; let index = index">
        <div class="card pb-5">
          <h5 class="card-header">Commandes n°{{index+1}}</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3"></div>
              <p><b>Informations de la commande :</b></p>
              <ul *ngFor="let item of command; let i = index">
                <li><b>Nom de l'article :</b> {{item.product_name}}</li>
                <li><b>Prix de l'article :</b> {{item.buy_price}} €</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-1">
        <div class="col-sm-3"></div>
        <p class="text-center"><b>Prix total des commandes : {{total}} €</b></p>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="commands.length ==0">
    <div class="container pt-3">
      <div class="text-center">
        <h1>Vous n'avez pas de commandes!</h1>
      </div>
    </div>
  </ng-container>
</div>