<div class="my-component pt-5">
  <div class="container">
    <img class="img-back pb-2" src="assets/back-arrow.png" (click)="backWithLocation()">
    <div class="card">
      <img class="img-article pt-3 pb-3" src="assets/art_burg.jpg" alt="Card image cap">
      <h5 class="card-title">Hambuger</h5>
      <p class="card-text">Un hamburger avec fromagee et bacon.</p>
          <button type="button" class="btn btn-warning">Ajouter au panier</button>
          <button type="button" class="btn btn-primary">Acheter</button>
      </div>
    </div>
    </div>