<body>
    <div class="my-component">
    <div class="container">
        <h1 class="title-top">Bienvenue sur le site de Good Food, nous vous souhaitons une bonne visite !</h1>
        <img id="backgroundImage" src="assets/home-background-image.jpg">
        <div class="centered">
            <div class="card border border-3 border-success" style="width: 28rem;">
                <div class="card-body">
                    <h2>Les produits du moment :</h2>
                    <ul>
                        <li>Rougail saucisse</li>
                        <li>Keema Matar</li>
                        <li>Daube provencale</li>
                    </ul>
                </div>
              </div>
        </div>
    </div>
</div>
</body>