<body>
    <div class="my-component">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center min-vh-100 pt-3">
        <img id="backgroundImage" src="assets/home-background-image.jpg">
        <div class="centered">
            <div class="card border border-3 border-success" style="width: 28rem;">
                <div class="card-body">
                    <h2>Les produits du moment :</h2>
                    <ul>
                        <li>Duo de saumon</li>
                        <li>Poulet rôti</li>
                        <li>Jambon braisé</li>
                    </ul>
                </div>
              </div>
        </div>
    </div>
    </div>
</div>
</body>