<div class="my-component">
  <div class="container">
    <div class="row pb-3 pt-5">
      <div class="col-sm">
        <h1>Votre panier :</h1>
      </div>
      <div class="col-sm"></div>
      <div class="col-sm"><button type="button" class="btn btn-warning" routerLink="" (click)="goToValidation()">Passer la commande</button></div>
    </div>
    <div class="card mb-5">
      <img class="card-img-top img-article" src="assets/art_burg.jpg" alt="Card image cap">
      <h5 class="card-title">Hambuger</h5>
      <p class="card-text">Un hamburger avec fromagee et bacon.</p>
      <button type="button" class="btn btn-danger">Retirer article</button>
    </div>
    <div class="card mb-5">
      <img class="card-img-top img-article" src="assets/art_burg.jpg" alt="Card image cap">
      <h5 class="card-title">Hambuger</h5>
      <p class="card-text">Un hamburger avec fromagee et bacon.</p>
      <button type="button" class="btn btn-danger">Retirer article</button>
    </div>
  </div>
</div>