.mainCard {
  width: auto;
  height: 50rem;
  text-align: center;
}

.subCard {
  padding: 10;
  width: auto;
  height: 10rem;
  justify-content: center;
}

a { color: inherit;
    text-decoration: none;
  } 