<body>
    <div class="my-component">
    <div class="container">
        <div class="centered">
            <div class="card mainCard">
                <div class="card-body">
                    <h2>Choisissez un restaurant  :</h2>
                    <div class="row">
                      <div class="card col-sm">
                        L'ouzbeck de l'ouest
                      </div>
                      <div class="card col-sm">
                        Le smaliara
                      </div>
                      <div class="card col-sm">
                        The great hunger
                      </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>
</body>