<body>
    <div class="my-component pt-3">
      <h1>Choisissez un restaurant partenaire de Good Food! </h1>
            <ngb-carousel>
              <ng-template ngbSlide *ngFor="let image of images">
                <div class="d-flex align-items-center justify-content-center min-vh-100">
                  <img [src]="image.src" alt="Random first slide" (click)="selectOffice()">
                </div>
                <div class="carousel-caption">
                  <h3>{{ image.title }}</h3>
                  <p>{{ image.short }}</p>
                </div>
              </ng-template>
            </ngb-carousel>   
</div>
</body>