<body>
    <div class="my-component pt-5">
    <div class="container">  
        <div class="centered">
            <div class="card mainCard img-fluid">
              <img class="card-img-top" src="assets/background-main.jpg" alt="Card image" style="width:100%; height:100%">
              <div class="card-img-overlay">
                <div class="card-body">
                    <h2>Choisissez un restaurant  :</h2>
                      <div class="card col-sm subCard">
                        <a href="#" class="stretched-link">L'ouzbeck de l'ouest</a>
                      </div>
                      <div class="space"></div>
                      <div class="card col-sm subCard pt-5">
                        <a href="#" class="stretched-link">Le smaliara</a>
                      </div>
                      <div class="space"></div>
                      <div class="card col-sm subCard pt-5">
                        <a href="#" class="stretched-link">The great hunger</a>
                      </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
</body>