@media screen and (max-width: 768px) {
  img {
  width: 95%;
  height: 95%;
  }
 }


.mainCard {
  width: auto;
  height: 50rem;
  text-align: center;
}

.subCard {
  padding: 10;
  width: auto;
  height: 10rem;
  justify-content: center;
}

a { color: inherit;
    text-decoration: none;
  }
  
   /* Style the background image */
 #backgroundImage {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 1.5;
  position: relative;
}

 /* Container holding the image and the text */
 .container {
  min-width: 100%;
  position: relative;
  text-align: center;
  color: #6ccbcb;
  margin: 20;
}

.space {
  height: 15px;
}

img {
  cursor: pointer;
}
